@import '@styles/variables';

.accountMenu {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 0.8rem;

    &__accountIcon{
        margin-top: 2px;
        font-size: 18px;
    }

    &__mobile-cart {
        display: none;
        font-size: 1.4rem;

        @media (max-width: 600px) {
            display: block;
        }
    }

    @media (max-width: 600px) {
        display: none;
    }
}