@import "@styles/variables";

.cartDropDown {
    &__panel{
        margin-top: 26px;
    }

}

.cartbutton {
    display: flex;
    font-size: 1.4rem;

    &__icon {
        margin-top: 3px;
    }

    &__counter {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        color: $whiteColor;
        background-color: $secondaryColor;
        transition: .3s;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // a {
    //     font-size: 16px;
    // }
}