@import "@styles/variables";

.cartDropDown {
    font-family: var(--lato);

    &__panel{
        color: $blackColor;
        margin-top: 28px;
        padding: 24px;

        a{
            color: $blackColor !important;
        }

        &-productTitle {
            font-size: 1.1rem;
        }

        &-quantity {
            font-size: 0.8rem;
        }

        &-deleteButton {
            span{
                font-size: 0.8rem;
            }

            &:hover {
                button {
                    transition: .3s;
                    color: black;
                }
            }
        }

        &-subtotal {
            font-size: 0.8rem;
        }
    }

}

.cartbutton {
    display: flex;
    font-size: 0.8rem;

    &__icon {
        margin-top: 3px;
    }

    &__counter {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        color: $whiteColor;
        background-color: $secondaryColor;
        transition: .3s;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // a {
    //     font-size: 16px;
    // }
}