@import '@styles/variables.scss';
@import "@styles/__layout.scss";
// tempaltes
@import '@styles/templates/store';


html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Robot, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 10px;

    @media (max-width: 900px) {
        font-size: 8px;
    }
    @media (max-width: 450px) {
        font-size: 6px;
    }
}

body {
    background: $primaryColor;
    color: $blackColor;
    font-family: var(--lato);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $blackColor;
    font-family: var(--lato);
    font-size: 1.4rem;
}

p, span {
    font-size: 1.6rem;
}

ul,ol {
    list-style-type: none;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0; 

    &:hover {
        cursor: pointer;
    }
}

input {
    border: 0;
    font-family:  var(--lato);
}

.hello {
    margin-top: 100vh;
    height: 200vh;
}

