@import '@styles/variables.scss';
@import "@styles/__layout.scss";
// tempaltes
@import '@styles/templates/store';
@import '@styles/templates/product';
@import '@styles/templates/cart';
@import '@styles/templates/order';


html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Robot, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 18px;

    @media (max-width: 900px) {
        font-size: 16px;
    }
    @media (max-width: 450px) {
        font-size: 14px;
    }
}

body {
    background: $primaryColor;
    color: $blackColor;
    font-family: var(--lato);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $blackColor;
    font-family: var(--lato);
    // font-size: 1.4rem;
}

h1{
    font-size: 1.6rem;
}

h2 {
    font-family: var(--lato);
}

h3 {
    font-size: 1.9rem;
}
h4 {
    font-size: 1.1rem;
    font-family: var(--lato);
}

p, span {
    // font-size: 1.6rem;
    // color: $blackColor;
}

ul,ol {
    list-style-type: none;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0; 

    &:hover {
        cursor: pointer;
    }
}

input {
    border: 0;
    font-family:  var(--lato);
}

.hello {
    margin-top: 100vh;
    height: 200vh;
}

.pointer-events-none span {
    color: white !important;
}