// COLORS
$whiteColor: #FFFF;
$blackColor: #2E282A;
$grayColor: #BEBDBB;
$secondaryColor: #522A27;
$primaryColor: #EDEBE9;
$beigeColor: #EAE6D8;
$facebookBlueColor: #0295FF;
$brownColor: #4C3D30;
$lightBrownColor: #7A6263;
